.Template {
    padding-top: 3rem;
    max-height: 100%;
  }

.title {
    width: 41rem;
    height: 2rem;
    margin: 0 auto;
    margin-top : 2rem;  
    margin-bottom : 2rem;  
    padding-bottom: 4rem;
    font-size: 4rem;
    font-weight: bold;
    color:darkgreen;
    background-color: rgb(193, 223, 135);
  }