.TodoItem {
    margin: 0 auto;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }
  
  .TodoItem {
    margin-top: 1.5rem;
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .TodoItem svg {
    font-size: 1.8rem;
    color:darkgreen;
  }
  .TodoItem .text {
    margin-left: 0.5rem;
    flex: 1;
  }
  
  .TodoItem .explain {
    font-size: 1rem;    
    margin-left: 3rem;
    flex: 1;
  }

  .TodoItem.checked {
    color:darkgreen;
    text-decoration: line-through;
    cursor: pointer;
    opacity: 0.5;
  } 

  .checklook.non-checked{
    display: none;
  }